/* MOBILES */

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media screen and (max-width: 1600px) {
    .goal__info {
        padding-right: 0;
    }

    .why-block__right img {
        width: 100%;
    }

    .form-block.first {
        margin-top: 0;
    }
}


@media screen and (max-width: 1280px) {
    header .header-menu:first-child .header-menu-item {
        margin: 0 5px 0 15px;
    }
    header .header-menu-item .btn {
        margin-left: 0;
    }
    main {
        padding-top: 150px;
    }
    .why-block {
        margin-top: 100px;
    }
    .goal {
        height: auto;
    }
    .goal .container {
        flex-wrap: wrap;
    }
    .goal__bg {
        // width: 100%;
        margin: auto;
        img {
            position: static;
        }
    }
    .big-arrow {
        height: 200px;
        &:after {
            border-top: 100px solid #e2e7ee;
        }
    }
    .goal__info_text {
        text-align: center;
        font-size: 18px;
    }
    .goal__info_title {
        font-size: 60px;
        text-align: center;
        margin-top: 5px;
    }
    .goal__info {
        width: 100%;
    }
    .watch-btn {
        margin: 30px auto 30px;
    }
    .goal .input {
        margin: 30px auto 0;
    }

    .our-team {
        &__list {
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 50px;
            &_item {
                width: auto;
                padding: 0 30px;
                margin-bottom: 20px;
            }
        }
    }

    .why-block__right {
        display: flex;
        align-items: flex-end;
        img {
            position: static;
        }
    }
}

@media screen and (max-width: 980px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .why-block .title h1 {
        line-height: 1.67;
        letter-spacing: 4.5px;
        text-align: center;
    }
    .roadmap {
        background-image: linear-gradient(323deg, #273142, #39b54a);
    }
    main {
        padding-top: 80px;
    }
    .goal__bg {
        width: 80%;
    }

    .big-arrow {
        height: 150px;
        &:after {
            border-top: 90px solid #e2e7ee;
        }
    }

    header {
        top: 10px;
        .mobile-header {
            display: flex;
            width: 100%;
            .logo {
                display: block;
                width: 80px;
            }
        }
        .hamburger {
            display: block;
        }
        nav {
            display: none;
        }

        .logo {
            display: none;
        }
    }

    .our-team__list_item_img {
        width: 180px;
        height: 180px;
    }
    .our-team__list_item_title {
        font-size: 16px;
    }

    .our-team__list_item_link {
        img {
            width: 18px;
        }
    }

    .why-block {
        margin-top: 50px;
        flex-wrap: wrap;
        &__list {
            padding-left: 0;
            margin-top: 60px;
        }
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
            img {
                position: static;
                max-width: 600px;
                display: block;
                margin: auto;
            }
        }
    }

    .form-block.first {
        .container {
            padding: 0 40px;
        }
    }

    .form-block.last .container {
        padding: 0 40px;
    }

    .form-block .container {
        flex-wrap: wrap;
    }

    .form-block__title {
        width: 100%;
        font-size: 40px;
        text-align: center;
        br {
            display: none;
        }
    }
    .follow-us {
        padding-top: 40px;
    }
    .socials {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .follow-us {
        padding-bottom: 80px;
    }
    .accessible {
        margin-top: 100px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        &__subtitle {
            text-align: center;
        }
        &__title {
            text-align: center;
        }
        &__soon {
            margin-top: 0;
            text-align: center;
        }
        &__images {
            margin: auto;
            max-width: 400px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            img {
                margin: 0;
            }
        }
        &__list {
            width: 70%;
            margin: 40px auto 0;
        }
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
        }
    }
    form {
        width: 100%;
    }
    .form-block .input {
        width: 100%;
        margin: 30px auto 0;
    }

    footer .footer-socials {
        margin: 0;
    }
    footer .container {
        justify-content: space-between;
        padding: 25px 20px;
    }
}

@media screen and (max-width: 600px) {
    // .our-team__list_item {
    //     padding: 0 15   px;
    // }

    .accessible__list {
        width: 90%;
    }
    .big-arrow {
        height: 100px;
        &:after {
            border-top: 60px solid #e2e7ee;
        }
    }

    .goal__info {
        .input {
            width: 100%;
        }
    }
    .follow-us {
        padding-bottom: 50px;
    }
    .our-team__list_item {
        width: 100%;
        &_title {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 480px) {
    header .dropdown-menu {
        width: 100%;
        right: 0;
    }
    .big-arrow {
        height: 70px;
        &:after {
            border-top: 40px solid #e2e7ee;
        }
    }
    .goal .input {
        margin: 15px auto 0;
    }
    .follow-us {
        padding-top: 30px;
    }
    .our-team__list {
        margin-top: 20px;
    }
    .form-block.first .container,
    .form-block.last .container {
        padding: 0 20px;
    }
    .why-block {
        padding: 0;
        &__list {
            margin-top: 30px;
            &_item {
                &_title {
                    font-size: 16px;
                }
                &_descr {
                    font-size: 12px;
                }
            }
        }
    }
    .form-block {
        padding: 30px 0;
        &__title {
            font-size: 32px;
        }
    }
    .form-block.first {
        margin-top: 0;
    }
    .socials__item img {
        width: 50px;
        height: 50px;
    }
    .accessible {
        margin-top: 40px;
    }
    .accessible__title {
        font-size: 32px;
    }
    .accessible__list {
        width: 100%;
        font-size: 12px;
        ul li {
            margin-left: 20px;
        }
    }
    .accessible__images {
        display: block;
        img {
            display: block;
            margin: 30px auto 0;
        }
    }
    footer .container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .footer-socials {

            width: 100%;
            justify-content: center;
            img {
                margin: 0 10px;
                width: 52px;
                height: 52px;
            }
        }
        .copyright {
            margin-top: 30px;
            width: 100%;
            text-align: center;
        }
    }
}